body {
	max-width: 72ex;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-right: 3em;
	margin-left: 4em;
}

h1 {
	background-color: royalblue;
	color: white;
	display: inline-block;
	padding: 0.5em;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 2rem;
	margin-left: -1rem;
}

a {
	color: royalblue;
}

dd + dt {
	margin-top: 1rem;
}

dt {
	font-weight: bold;
}

dd {
	margin-top: 0.25rem;
}
